{%extends "base.html"%}
   {%block content%}
<div class="global-container">
	<div class="card login-form">
		<div class="card-body">
		<h3 class="card-title text-center">This is forget password page</h3>
		 <a href="{% url 'login'%}" class="btn btn.success">Login</a>
	</div>
		<form method="post">
				{%csrf_token%}
				<!-- to error: add class "has-danger" -->
				<div class="form-group">
					<label for="exampleInputEmail1">Email</label>
					<input type="email" name="email" class="form-control form-control-sm" id="exampleInputEmail1">
				</div>
			<button type="submit" class="btn btn-primary btn-block mt-3	">Send Code</button>
		</form>

</div>
</div>
   {%endblock%}